/* Navbar */
.nav {
  min-height: 64px;
  margin: 0rem 6rem;
}

/* Header */
.header {
  margin: 0rem 6rem;
  margin-bottom: 2rem;
}

/* Section Repo */
.section {
  margin: 0rem 6rem;
}

/* Styles */
.title {
  padding: 0.25rem 0rem;
  margin: 0.5rem 0rem 1rem 0rem;
  border-bottom: 1px solid #333;
  color: inherit !important;
}

/* Media Query */
@media only screen and (max-width: 600px) {
  .header, .nav, .section{
      margin: 0rem 2rem;
  }
}
