/* Navbar */
.nav {
  min-height: 64px;
  padding: 0rem 8rem !important;
}

/* Header */
.header {
  margin: 0rem 8rem;
  margin-bottom: 4rem;
}

/* Section Repo */
.section{
  margin: 0rem 8rem;
  margin-bottom: 4rem;
}

.footer {
  padding: 0rem 8rem;
}

/* Styles */
.title {
  padding: 0.25rem 0rem;
  margin: 0.5rem 0rem 1rem 0rem;
  border-bottom: 1px solid #333;
  color: inherit !important;
}

/* Media Query */
@media only screen and (max-width: 600px) {
  .header, .section{
      margin: 0rem 2rem;
      margin-bottom: 2rem;
  }


  .footer, .nav{
    padding: 0rem 2rem !important;
  }
}
