:root {
    --primary: #125caa;
    --primary-shadow: #0d4b8d ;
    --success: #137a4a;
    --success-shadow: #0d5f39;
}

* {
    font-family: "Inter", sans-serif !important;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.btn {
    border: 0 !important;
    border-radius: 0.125rem !important;
    padding: 0.5rem 1.5rem !important;
    font-size: 1rem !important;
    font-weight: bold !important;
}

.btn:hover {
    transition: 0.5s;
}

.btn-primary {
    background-color: var(--primary) !important;
    box-shadow: 0.125rem 0.125rem 0rem 1px var(--primary-shadow) !important;
}

.btn-primary:hover {
    background-color: var(--primary-shadow) !important;
}

.btn-success {
    background-color: var(--success) !important;
    box-shadow: 0.125rem 0.125rem 0rem 1px var(--success-shadow) !important;
}

.btn-success:hover {
    background-color: var(--success-shadow) !important;
}